body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (orientation: portrait) {

  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    min-width: 100vh;
    min-height: 100vw;
    height: 100%;
    width: 100%;
    top: 100%;
    left: 0;
    overflow-x: auto;
    overflow-y: scroll;
    position: absolute;
  }

}

.flipCard{
  animation: flip ease 0.25s;
  transform-origin: right bottom;
}

@keyframes flip {

  from {
    transform: rotate3d(0, 0, 0, 0deg);
    
  }

  to {
    transform: rotate3d(0, 1, 0, 360deg);
    
  }

}